html,body{
    height: 100%;
    width: 100%;
}
.navbar {
    background-color:azure;
    padding:1% 0;
    font-size: 1.2em;
}    
.navbar-brand{
    padding: 0 15px 5px;
}
.navbar-default .navbar-nav li a{
    color:darkgray;
}
.navbar-default .navbar-nav li a:hover,.navbar-default .navbar-nav li a.active{
    color:black;
}
#HOME{
    background: url(img3.png) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.landing-text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.landing-text h1{
    font-size: 500%;
    font-weight: 700;
}

.padding{
    padding: 80px 0;
}
.padding img {
    width: 100%;
}
#fixed{
    background: url(do3.png) no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}
footer{
    width: 100%;
    background-color: #23415c;
    padding: 5% 5% 10% 5%;
    color: #FFF;
}
.fa{
    padding: 15px;
    font-size: 25px;
    color: #FFF;
}
.fa:hover{
    color: #D5D5D5;
    text-decoration: none;
}
.icon{
    font-size: 500%;
    font-weight: 700;
}
 .breadcrumbs-section{
    background-color: #f5f5f5;
}
.services{
    background-color:lightblue;
    color: black;
}
.online.img{
    width: 150px;
}
.top-footer a{
    color:white;
    font-weight: 600;
}
.top-footer h3{
    color:white;
    font-weight: 600;
}
.icon1{
    font-size: 200%;
}
#ABOUT{
    background: url(back.png) no-repeat center center fixed;
    background-color: lightblue;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.ro p{
    font-size: large;
}